body {
    background-color: rgb(166, 166, 224);
    color: black;
    margin: 0;
    padding: 0;
}

section figure img {
    margin-top: auto;
}

nav {
    background-color: aqua;
    height: 30px;
    margin-top: 0;
    margin: 0;
    padding: 0;
    max-height: fit-content;
    text-align: right;
    align-items: flex-end;
}

/*a{
    color: red;
}*/
section {
    background-color: rgb(0, 255, 255);
    margin-top: 0;
    margin: 0;
    padding: 0;
    max-height: fit-content;
}

h1 {
    color: rgb(39, 2, 2);
}

h2 {
    color: rgba(79, 53, 4, 0.829);
    text-align: center;
}

article,
section,
h3,
p {
    display: block;
    text-align: center;
    min-height: 0%;
}

a {
    display: inline-block;
    width: 10rem;
    height: 0, 5rem;
    color: black;
    background-color: rgb(0, 238, 255);
    text-decoration: none;
    border-radius: 1rem;
    text-align: center;
    padding-top: 0, 4rem;
    font-weight: bolder;
}

a:hover {
    background-color: greenyellow;
    color: orange;
    text-align: center;
}

a:active {
    background-color: rgb(241, 19, 19);
}

section figure {
    margin-top: auto;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.imagen-1 {
    width: 200px;
    height: 150px;
    margin-right: 10px;

}

.imagen-2 {
    width: 200px;
    height: 150px;
    margin-right: 10px;
}

.imagen-3 {
    width: 200px;
    height: 150px;
    margin-left: 10px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vh;
    background-color: rgb(187, 138, 77);
    margin: auto;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    /*justify-content: space-evenly;*/
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    
}

.navegacion {
    margin-top: -25rem;
}

.cards .section_table{
    width: 80%;

    padding: .5rem;
}

.cards {
    min-width: 10rem;
    
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;

    margin: auto;
    padding-top: 1rem;

    gap: 2rem;
    
}


.cards .section_table, .cards .card{
    position: relative;

    min-width: 20rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-self: flex-start;
    text-align: center;

    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.425);
    border-radius: 1rem;

    padding-top: 1rem;
    
}

.cards .section_table img, .cards .card img{
    height: 4rem;
}
.cards .section_table h3, .cards .card h3{
    padding-top: 1rem;
}
.cards .section_table p, .cards .card p{
    padding-top: 1rem;
}


.banner {
    width: 100%;
}

/*cambios desde aca*/

/* START FORM */
form {
    display: flex;
    flex-direction: column;
}

.label_flex {
    display: flex;
    
    margin: auto;
}

fieldset {
    border: none;
}

.submit {
    width: 10rem;

    text-align: center;
    margin: auto;

    padding: .5rem 2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;

    border-radius: 1rem;
    border: none;

    text-decoration: none;
    font-weight: bold;

    color: #EEEDEC;
    background-color: #20907E;

    transition: .5s ease-out;
}

.submit:hover{
    color: #000;
    background-color: #e4d761;
}
/* MAPS */
.section_game {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

.maps {
    display: flex;

    height: 100%;
    width: 100%;

    text-align: center;
    justify-content: center;
    text-align: center;

    gap: 1rem;
}

.maps, article {
    padding: 1rem;
    
}

.map_l{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.map_r{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.maps {
    flex-wrap: wrap;
}    

.cards .section_table table thead tr th{
    padding: 0;
}

.area_left {
    width: 5rem;               
}

.area_left header {
    width: 5rem; 
    font-size: .7rem;
}

.area_right {
    width: calc(100% - 5rem);
    
}

.area_left header figure img {
    width: 5rem;
}


@media (max-width: 1000px) {
.games, .cards {
    flex-wrap: wrap;
}

.cards .section_table table thead tr th{
    padding: .8rem;
}
}
